/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #33444d;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fcfefd;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  line-height: 1;
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  user-select: none;
  cursor: pointer;
}

.feather {
  width: 1.2rem;
  height: auto;
}
